<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rutgers.css.Rutgers"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:name="edu.rutgers.css.Rutgers.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.rutgers.css.Rutgers.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.rutgers.css.Rutgers.fragments.DTable"
            android:label="@string/title_activity_dtable" >
        </activity>
        <activity
            android:name="edu.rutgers.css.Rutgers.SingleFragmentActivity"
            android:label="@string/title_activity_single_fragment" >
        </activity>
        <activity
            android:name="edu.rutgers.css.Rutgers.fragments.RSSReader"
            android:label="@string/title_activity_rssreader" >
        </activity>
    </application>

</manifest>
